body {
    background-color: #151B2B;
    color: #AAB6FF;
}

#submit {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

#header {
    font-size: 50px;
    font-family: "Arial";
}

#subheader {
    font-size: 25px;
    color: #AAB6FF;
    font-family: "Arial";
    margin-left: 15px;
}

textarea {
    background-color: #AAB6FF;
    border: none;
    padding: 5px;
}

textarea::placeholder {
    color: black;
    font-size: 15px;
    opacity: 0.75;
}